ul, li, a {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #101C4E;
  font-family: "Vollkorn SC", serif;
  font-weight: bolder;
  font-size: 18px;
}

.menu-item {
  display: inline;
  margin-right: 30px;
}

.menu-item.active a,
.menu-item:hover a,
.menu-item:active a {
  color: #ffffff;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease-in-out;
}

.menu.active {
  transform: translateY(60px); /* Adjust the value based on your header height */
}

.menu-toggle {
  cursor: pointer;
  display: none;
  transition: transform 0.3s ease-in-out;
}

.menu-toggle.active {
  transform: rotate(90deg);
}

.introHeader {
  width: 40%;
}

.header {
  z-index: 1000;
}

.introDesc {
  width: 35%;
}

.infoHero {
  margin-left: 225px;
  margin-right: 255px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 10, 38, 0.3);
}

.hero-section {
  height: 657px;
}

.what-we-do-mobile {
  display: none;
}

.title-what-we-do {
  background-color: #9CA5CB;
  margin-bottom: 0;
  padding: 20px;
  font-size: 30px;
  font-family: 'Vollkorn SC', serif;
  font-weight: bold;
  color: #040A26;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.img-what-we-do {
  max-width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.img-container {
  height: 400px; /* Set a fixed height for the container */
  overflow: hidden; /* Hide overflowing content */
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.sow {
  font-size: 80px;
}

.our-works-carousel-mbl {
  display: none;
}

.bg-1, .bg-2, .feedback{
  position: relative;
}

.feedback {
  position: absolute;
  z-index: 1;
}

.feedback-mbl {
  display: none;
}

#our-services-button-mbl {
  display: none;
}

.hero-section-abt {
  position: relative;
  height: 400px;
  background: url('../images/about-hero.png') center/cover no-repeat;
  text-align: center;
  color: #fff;
}

.hero-layer-abt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.4);
}

.hero-title-abt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
}

.ms-vs-mbl {
  display: none;
}

.col-12.calendar-dsk {
  position: relative; /* Set position to relative */
  z-index: 2; /* Adjust z-index to place it on top of bg-1 and bg-2 */
}

.calendly-container {
  position: absolute; /* Set position to absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3; /* Set a higher z-index to place it on top of bg-1 and bg-2 */
}

.calendly-inline-widget {
  width: 100%; 
  min-width: 1000px; 
  height: 700px;
}

.calendar-mbl {
  display: none;
}

.reach-us-mbl {
  display: none;
}
@media screen and (max-width: 768px) {
  .introImage,
  .blob {
    display: none;
  }

  .calendly-inline-widget {
    width: 100%; 
    min-width: 100px; 
    height: 500px;
  }

  .reach-us {
    display: none;
  }

  .reach-us-mbl {
    display: block;
  }

  .hide {
    display: none;
  }

  .calendar-mbl {
    display: block;
  }

  .ms-vs {
    display: none;
  }

  .ms-vs-mbl {
    display: block;
  }  

  .feedback-dsk {
    display: none !important;
  }

  .feedback-mbl {
    display: block;
  }

  #our-works-carousel {
    display: none;
  }

  .our-works-carousel-mbl {
    display: block;
    }

  .sow {
    font-size: 30px;
  }

  .what-we-do-desktop {
    display: none;
  }

  .what-we-do-mobile {
    display: block;
  }

  .hero-section {
    height: 530px;
  }

  .infoHero {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .introHeader {
    width: 100%;
  }
  
  .introDesc {
    width: 100%;
  }

  .intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #our-services-button-desktop {
    display: none;
  }

  #our-services-button-mbl {
    display: block;
  }

  .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 28px;
    left: 0;
    background-color: #9CA5CB;
    z-index: 1;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu.active {
    display: flex;
    opacity: 1;
    height: 115px; /* Adjust the value based on your content */
    background-color: #9CA5CB;
    z-index: 999;
    border-bottom: 1px solid #101C4E;
  }

  .menu-toggle {
    display: block;
  }

  .menu:not(.active) {
    transform: translateY(-100%);
  }

  .menu-item a {
    font-size: 25px; /* Adjust the value as needed */
  }

  .menu-mbl {
    display: none !important;
  }
}
